<ejs-sidebar id="sidebar" width="250" enableDock dockSize="100px" target=".dock-target" enableGestures="false">
    <e-content-template>
        <div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>
        <div>
            <ul id="sidebar-menu">
                <li class="menu-item">
                    <a class="sidebar-menu-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="menu-item">
                    <a class="sidebar-menu-link" asp-area="" asp-controller="Income" asp-action="Index">
                        Income
                    </a>
                </li>
                <li class="menu-item">
                    <a class="sidebar-menu-link" asp-area="" asp-controller="Expenses" asp-action="Index">
                        Expenses
                    </a>
                </li>
                <li class="menu-item">
                    <a class="sidebar-menu-link" asp-area="" asp-controller="Debt" asp-action="Index">
                        Debt
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });

</script>