@model IEnumerable<Expenses>
@{
    ViewData["Title"] = "Home Page";

}

<div id="landing-section">
    <img id="landing-img" src="/Users/skint2/wwwroot/images/Na_Dec_34.jpg" alt="">
    @* <a
        href="https://www.freepik.com/free-vector/young-man-is-riding-piggy-bank-use-insect-net-trying-catch-flying-dollar-coin-dollars-flying-away-saving-money-concept-cartoon-vector-illustration_22821982.htm">Image
        by jcomp on Freepik</a>  *@
</div>
<div class="text-center">

    <h1 class="display-4">Budget</h1>
