@model IEnumerable<Income>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Budget</h1>
</div>
<div class="col-sm-6 d-flex justify-content-end align-items-center">
    <a asp-controller="Income" asp-action="Create" class="btn btn-primary text-uppercase align-items-center">
        <i class="bi bi-plus-circle me-2"></i>Add new item
        </a>
</div>

