@model Income
<div class="card-body p-4">
    <form method="POST" class="row" asp-action="Create" enctype="multipart/form-data">

        <div class="form-floating py-2 col-12">
            <input asp-for="Source" class="form-control border-0 shadow">
            <label asp-for="Source" class="ms-2"></label>
        </div>
        <div class="row pt-2">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Add a source of income</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Income" asp-action="Index" class="btn btn-outline-primary border  form-control">
                    Back to List of Products
                </a>
            </div>
    </form>
</div>