html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #EFEFF0;
}
#wrapper {
  float: left;
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}

header {
  float: left;
  width: 100%;
  height: auto;
  margin-left: 210px;

}
/* Login & Signup Views */

/*Home Landing Section*/

/*#landing-img {
  width: 100%;
  height: 500px;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
}*/



/* Main Seection*/
main{
  margin-left: 250px;
}

/* Widgets */

/* Sidebar styles */

.sb-content-tab #wrapper {
  display: none;
}

#dockSidebar.e-sidebar.e-right.e-close {
  visibility: visible;
  transform: translateX(0%);
}

#dockSidebar .e-icons::before {
  font-size: 25px;
}

/* dockbar icon Style */

#dockSidebar .home::before {
  content: '\e102';
}

#dockSidebar .profile::before {
  content: '\e10c';
}

#dockSidebar .info::before {
  content: '\e11b';
}

#dockSidebar .settings::before {
  content: '\e10b';
}

.e-sidebar .expand::before,
.e-sidebar.e-right.e-open .expand::before {
  content: '\e10f';
}

.e-sidebar.e-open .expand::before,
.e-sidebar.e-right .expand::before {
  content: '\e10e';
}

/* end of dockbar icon Style */

#dockSidebar.e-close .sidebar-item {
  padding: 5px 20px;
}

#dockSidebar.e-dock.e-close span.e-text {
  display: none;
}

#dockSidebar.e-dock.e-open span.e-text {
  display: inline-block;
}

#dockSidebar li {
  list-style-type: none;
  cursor: pointer;
}

#dockSidebar ul {
  padding: 10px, 20px;
}

#dockSidebar.e-sidebar ul li:hover span {
  color: white
}

#dockSidebar span.e-icons {
  color: #c0c2c5;

}

.e-open .e-icons {
  margin-right: 16px;
}

.e-open .e-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 23px;
  font-size: 20px;
}

.sidebar-item {
  text-align: center;
  border-bottom: 1px #e5e5e58a solid;
}

.e-sidebar.e-open .sidebar-item {
  text-align: left;
  padding-left: 15px;
  color: #c0c2c5;
}

#dockSidebar.e-sidebar {
  background: #ADBCA5;
  overflow: hidden;
}
/* Nav Links*/